   <!-- Google tag (gtag.js) -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-FZ2GBVV4SW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FZ2GBVV4SW');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANONYMOUS</title>
    <meta name="description" content="EMMANUEL: Support and Menu">
    <meta name="keywords" content="EMMANUEL, Support, Menu">
    <meta name="author" content="EMMANUEL">
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #000;
        }

        .button-container {
            margin-bottom: 20px;
        }

        .glow-on-hover {
            width: 220px;
            font-family: 'Roboto', sans-serif;
            font-size: 26px;
            font-weight: 600;
            height: 50px;
            border: none;
            outline: none;
            color: #fff;
            background: #111;
            cursor: pointer;
            position: relative;
            z-index: 0;
            border-radius: 10px;
        }

        .glow-on-hover:before {
            content: '';
            background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
            position: absolute;
            top: -2px;
            left: -2px;
            background-size: 400%;
            z-index: -1;
            filter: blur(5px);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            animation: glowing 10s linear infinite;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            border-radius: 10px;
        }

        .glow-on-hover:active {
            color: #000;
        }

        .glow-on-hover:active:after {
            background: transparent;
        }

        .glow-on-hover:before {
            opacity: 1;
        }

        .glow-on-hover:after {
            z-index: -1;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #111;
            left: 0;
            top: 0;
            border-radius: 10px;
        }

        @keyframes glowing {
            0% {
                background-position: 0 0;
            }

            50% {
                background-position: 400% 0;
            }

            100% {
                background-position: 0 0;
            }
        }
    </style>




    <a href="myweb3.html">
    <div class="button-container">
        <button class="glow-on-hover" type="button" onclick="window.location.href='./menu.html'">My Website</button></a>
    
     
     <a href="contactme2.html">
    <div class="button-container">
        <button class="glow-on-hover" type="button" onclick="window.location.href='./contact.html'">Contact Me</button>
        </a>
    
    <a href="Aboutme.html">
    <div class="button-container">
        <button class="glow-on-hover" type="button" >About Me</button>
        </a>
    
    <a href="Support.html">
    <div class="button-container">
        <button class="glow-on-hover" type="button" onclick="window.location.href='./bat.html'">Support Me</button>
        </a>

    <link rel="import" href="./loader.html">





</div></div></div></div></div><script src="//cdn.jsdelivr.net/npm/eruda"></script></body><div id="eruda" style="all: initial;"></div><div class="__chobitsu-hide__" style="all: initial;"></div></html>